body {
	background: #58595b;
}
div {
	color: #E2E3E4;
	margin-top: 200px;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Verdana;
}

.address {
	margin-top:100px;
}
a.newsletter {
  color: #E2E3E4;
  text-decoration: none;
padding: 60px 0;
display: block;
}